@font-face {
  font-family: "agency-reg";
  src: url(../fonts/AGENCYR.TTF);
}

@font-face {
  font-family: "agency-bold";
  src: url(../fonts/AGENCYB.TTF);
}

@font-face {
  font-family: "kunstler";
  src: url(../fonts/KUNSTLER.TTF);
}

@font-face {
  font-family: "tw-cent";
  src: url(../fonts/TCM_____.TTF);
}

/*=========================================================
-------------------------VARIABLES-------------------------
=========================================================*/

//---------FONTS-----------

$primary-font: "agency-reg", sans-serif;
$secondary-font: "tw-cent", sans-serif;
$tertiary-font: "agency-bold", sans-serif;
$quaternary-font: "kunstler", sans-serif;

//--------COLORS------------

$color-lite: #faf5f5;
$color-dark: #050505;
$color-md-dark: #0f0f0f;
$color-gray: #333232;
$color-gray-lite: #6d6b6b;
$color-graytrans: rgba(77, 76, 76, 0.9);
$color-gold: #a58620;

/*====================================================
----------------------MIXINS--------------------------
=====================================================*/

//-------POSITION/CENTERING MIXINS---------
@mixin absol-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin absol-topLeftZero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//-------WIDTH/HEIGHT MIXINS----------

@mixin keep-it-hundo {
  width: 100%;
  height: 100%;
}

//----------SHADOW MIXINS-----------

@mixin shadow {
  box-shadow: 0.2rem 0.2rem 0.4rem $color-dark;
}

@mixin deep-shadow {
  box-shadow: 0.3rem 0.3rem 1rem $color-dark;
}

@mixin text-shadow {
  text-shadow: 0.2rem 0.2rem 0.3rem $color-dark;
}

@mixin text-shadowmid {
  text-shadow: 0.3rem 0.3rem 0.4rem $color-md-dark;
}

@mixin text-shadowdeep {
  text-shadow: 0.3rem 0.3rem 0.7rem $color-dark;
}

@mixin text-shadowgray {
  text-shadow: 0.2rem 0.2rem 0.2rem $color-gray-lite;
}

//--------TRANSITION MIXINS---------

@mixin transit2 {
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

@mixin transit3 {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@mixin transitall3 {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@mixin transit4 {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

@mixin transitall4 {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/*================================================
------------------MEDIA QUERIES-------------------
================================================*/

// PHONE PORTRAIT
@mixin phonePortrait {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

//PHONE LANDSCAPE
@mixin phoneLandscape {
  @media only screen and (min-width: 620px) {
    @content;
  }
}

// TABLET PORTRAIT
@mixin tabletPortrait {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

// TABLET LANDSCAPE
@mixin tabletLandscape {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

// DESKTOP
@mixin desktop {
  @media only screen and (min-width: 1224px) {
    @content;
  }
}

// LARGE DESKTOP
@mixin largeDesktop {
  @media only screen and (min-width: 1824px) {
    @content;
  }
}

// LARGE DESKTOP2
@mixin largeDesktop2 {
  @media only screen and (min-width: 2559px) {
    @content;
  }
}

// ULTRAWIDE DESKTOP
@mixin largeDesktopUltra {
  @media only screen and (min-width: 3439px) {
    @content;
  }
}

/*========================================================
---------------------------RESETS-------------------------
========================================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $color-gold;
  background-color: $color-dark;
}

/*=========================================================
---------------------------HEADER--------------------------
=========================================================*/

header {
  width: 100vw;
  height: 10rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-dark;
  @include deep-shadow;
  //border: 1px solid green;

  @include tabletLandscape {
    & {
      display: flex;
      height: 5rem;
    }
  }

  @include desktop {
    & {
      height: 8rem;
    }
  }

  //----------------TITLE & ICONS----------------

  .header-box1 {
    width: 100%;
    height: 50%;
    position: relative;
    @include flex-center;
    background-color: $color-dark;
    @include shadow;
    z-index: 1;

    //------------MEDIA QUERIES----------------

    @include tabletLandscape {
      & {
        height: 100%;
        justify-content: flex-start;
      }
    }

    //------------------------

    .logo {
      width: 40%;
      height: 100%;
      @include flex-center;
      font-size: 2rem;

      //----------MEDIA QUERIES------------

      @include tabletPortrait {
        & {
          font-size: 2.5rem;
        }
      }

      @include tabletLandscape {
        & {
          justify-content: flex-start;
          margin-left: 4rem;
          width: 30%;
        }
      }

      @include desktop {
        & {
          font-size: 3rem;
        }
      }

      @include largeDesktop {
        & {
          font-size: 4rem;
          margin-left: 6rem;
          width: 25%;
        }
      }

      @include largeDesktop2 {
        & {
          margin-left: 8rem;
          width: 18%;
        }
      }

      @include largeDesktopUltra {
        & {
          width: 15%;
        }
      }

      //------------------------

      a {
        color: $color-gold;
        text-decoration: none;
        cursor: pointer;
      }

      &:hover {
        animation: leftRight 0.6s ease-in-out;
        -webkit-animation: leftRight 0.6s ease-in-out;
      }
    }

    //-----------KEYFRAMES FOR LOGO HOVER-------------

    @keyframes leftRight {
      0% {
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
      }

      30% {
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
      }

      65% {
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
      }

      100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
      }
    }

    //------------------------

    .icons {
      width: 60%;
      height: 100%;
      @include flex-center;

      //------------MEDIA QUERIES----------------

      @include tabletLandscape {
        & {
          width: 45%;
        }
      }

      @include largeDesktop2 {
        & {
          width: 40%;
        }
      }

      @include largeDesktop2 {
        & {
          width: 35%;
        }
      }

      @include largeDesktopUltra {
        & {
          width: 25%;
        }
      }

      //------------------------

      li {
        width: 70%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
          color: $color-gold;
          cursor: pointer;
          @include transit3;

          i {
            font-size: 2rem;

            //------------MEDIA QUERIES----------------

            @include tabletPortrait {
              & {
                font-size: 2.5rem;
              }
            }

            @include desktop {
              & {
                font-size: 3rem;
              }
            }

            @include largeDesktop {
              & {
                font-size: 4rem;
              }
            }
          }

          //------------------------

          &:hover {
            transform: rotate(12deg);
            -webkit-transform: rotate(12deg);
            -moz-transform: rotate(12deg);
            -ms-transform: rotate(12deg);
            -o-transform: rotate(12deg);
          }
        }
      }
    }
  }

  //----------------MAIN NAV----------------

  .header-box2 {
    width: 100%;
    height: 50%;

    @include tabletLandscape {
      & {
        height: 100%;
      }
    }

    .nav-main {
      @include keep-it-hundo;
      background-color: $color-gold;
      @include transit3;

      //------------MEDIA QUERIES----------------

      @include tabletLandscape {
        & {
          background-color: $color-dark;
        }
      }

      //------------------------

      .ul-main {
        @include keep-it-hundo;
        display: flex;
        justify-content: space-evenly;
        @include deep-shadow;

        //------------MEDIA QUERIES----------------

        @include tabletLandscape {
          & {
            justify-content: flex-end;
          }
        }

        //------------------------

        .li-main {
          list-style-type: none;
          display: flex;
          align-items: center;

          //------------MEDIA QUERIES----------------

          @include tabletLandscape {
            & {
              margin-right: 4rem;
            }
          }

          @include largeDesktop {
            & {
              margin-right: 6rem;
            }
          }

          @include largeDesktop2 {
            & {
              margin-right: 8rem;
            }
          }

          @include largeDesktopUltra {
            & {
              margin-right: 9rem;
            }
          }

          //------------------------

          .links {
            position: relative;
            text-decoration: none;
            font-size: 2.2rem;
            color: $color-dark;
            cursor: pointer;
            font-family: $tertiary-font;
            text-shadow: 0.1rem 0.1rem 0.2rem #333232;

            //------------MEDIA QUERIES----------------

            @include tabletPortrait {
              & {
                font-size: 2.75rem;
              }
            }

            @include tabletLandscape {
              & {
                color: $color-gold;
                font-size: 2.2rem;
                font-family: $primary-font;
              }
            }

            @include desktop {
              & {
                font-size: 3rem;
              }
            }

            @include largeDesktop {
              & {
                font-size: 4rem;
              }
            }

            //------------------------

            &::after {
              content: "";
              width: 0;
              height: 0.2rem;
              background-color: $color-dark;
              position: absolute;
              bottom: -10%;
              left: 0;
              @include transit2;

              //------------MEDIA QUERIES----------------

              @include tabletPortrait {
                & {
                  bottom: -2%;
                }
              }

              @include tabletLandscape {
                & {
                  background-color: $color-gold;
                  bottom: -15%;
                }
              }
            }

            //------------------------

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/*=========================================================
-------------------------JUMBOTRON-------------------------
=========================================================*/

.jumbotron {
  width: 100vw;
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  //------------MEDIA QUERIES----------------

  @include tabletLandscape {
    & {
      height: calc(100vh - 12rem);
    }
  }

  //-----------JUMBO MAIN TITLE-------------

  .jumbo-title {
    margin-top: 6rem;
    font-family: $secondary-font;
    font-size: 2.75rem;

    //------------MEDIA QUERIES----------------

    @include phonePortrait {
      & {
        font-size: 3.5rem;
      }
    }

    @include tabletPortrait {
      & {
        font-size: 4.5rem;
      }
    }

    @include desktop {
      & {
        font-size: 5rem;
      }
    }

    @include largeDesktop {
      & {
        font-size: 7rem;
      }
    }
  }

  //-----------JUMBO SUBTITLE-------------

  .jumbo-subtitle {
    margin-top: 1rem;
    font-family: $quaternary-font;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;

    //------------MEDIA QUERIES----------------

    @include tabletPortrait {
      & {
        margin-top: 0;
      }
    }

    //------------------------

    .line {
      width: 2.75rem;
      height: 0.2rem;
      margin: 0 0.75rem;
      background-color: $color-gold;

      //------------MEDIA QUERIES----------------

      @include tabletPortrait {
        & {
          width: 5rem;
        }
      }

      @include phonePortrait {
        & {
          margin: 0 1.5rem;
        }
      }
    }

    //------------------------

    h2 {
      font-size: 2.75rem;

      //------------MEDIA QUERIES----------------

      @include phonePortrait {
        & {
          font-size: 3.5rem;
        }
      }

      @include tabletPortrait {
        & {
          font-size: 5.5rem;
        }
      }

      @include desktop {
        & {
          font-size: 6rem;
        }
      }

      @include largeDesktop {
        & {
          font-size: 8rem;
        }
      }
    }
  }

  //---------------CTA BTN STYLING----------------

  .jumbo-cta {
    width: 100%;
    height: 8rem;
    margin-top: 3rem;
    @include flex-center;

    //------------MEDIA QUERIES----------------

    @include tabletLandscape {
      & {
        margin-top: 4rem;
      }
    }

    //------------------------

    .cta-btn {
      position: relative;
      text-decoration: none;
      font-family: $tertiary-font;
      font-size: 3rem;
      color: $color-gold;
      border: 0.2rem solid $color-gold;
      padding: 1rem 2.5rem;
      cursor: pointer;
      overflow: hidden;
      //@include transit3;

      //------------MEDIA QUERIES----------------

      @include tabletPortrait {
        & {
          font-size: 4rem;
        }
      }

      @include tabletLandscape {
        & {
          padding: 1rem 3rem;
          font-size: 4.2rem;
        }
      }

      @include largeDesktop {
        & {
          font-size: 4.5rem;
          padding: 1.2rem 3.5rem;
        }
      }

      //------------------------

      &::after {
        content: "";
        width: 0;
        height: 110%;
        @include absol-center;
        background-color: $color-gold;
        @include transit3;
        z-index: -2;

        //------------MEDIA QUERIES----------------

        @include tabletLandscape {
          & {
            height: 200%;
          }
        }
      }

      //------------------------

      &:hover::after {
        width: 200%;
      }

      &:hover {
        color: $color-dark;
      }
    }
  }

  //---------------IMG GIF STYLING----------------

  .jumbo-img {
    width: 100%;
    height: 40%;
    margin-bottom: 2rem;

    //------------MEDIA QUERIES----------------

    @include tabletPortrait {
      & {
        height: 50%;
      }
    }

    //------------------------

    img {
      @include keep-it-hundo;
      object-fit: contain;
      filter: drop-shadow(0rem 0rem 1rem $color-gold);
      -webkit-filter: drop-shadow(0rem 0rem 1rem $color-gold);
    }
  }
}

/*=========================================================
---------------------------MAIN----------------------------
=========================================================*/

main {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  //border: 1px solid green;

  //---------STYLING FOR ALL SECTIONS-----------

  .sections {
    width: 100%;
    margin-bottom: 5rem;

    //---------STYLING FOR ALL TITLES-----------

    .section-title {
      width: 100%;
      height: 9rem;
      font-family: $secondary-font;
      font-size: 4rem;
      -webkit-text-stroke: 0.1rem $color-gold;
      -webkit-text-fill-color: transparent;
      @include flex-center;

      //------------MEDIA QUERIES----------------

      @include phonePortrait {
        & {
          font-size: 5rem;
        }
      }

      @include tabletPortrait {
        & {
          font-size: 6rem;
        }
      }

      @include desktop {
        & {
          font-size: 7rem;
        }
      }

      @include largeDesktop {
        & {
          font-size: 8rem;
        }
      }
    }
  }

  //----------------SECTION 1 / CUTS----------------

  .cuts {
    width: 100%;
    height: 50rem;
    position: relative;
    background-image: url(../images/profile2.png);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;

    //------------MEDIA QUERIES----------------

    @include phonePortrait {
      & {
        background-size: 70% auto;
      }
    }

    @include phoneLandscape {
      & {
        background-size: 55% auto;
      }
    }

    @include tabletPortrait {
      & {
        height: 70rem;
      }
    }

    @include tabletLandscape {
      background-size: 45% auto;
    }

    @include desktop {
      & {
        height: 80rem;
        background-size: 35% auto;
      }
    }

    @include largeDesktop {
      & {
        height: 100rem;
        background-size: 30%;
      }
    }

    @include largeDesktop2 {
      & {
        background-size: 25%;
      }
    }

    @include largeDesktopUltra {
      & {
        height: 100rem;
        background-size: 20%;
      }
    }

    //------------------------

    .cuts-info {
      width: 100%;
      height: auto;
      padding: 2rem;
      @include text-shadow;

      //------------MEDIA QUERIES----------------

      @include phonePortrait {
        & {
          padding: 2.5rem;
        }
      }

      //------------------------

      .cuts-p {
        font-size: 2rem;

        @include phonePortrait {
          & {
            font-size: 2.2rem;
          }
        }

        @include tabletPortrait {
          & {
            font-size: 3rem;
          }
        }

        @include largeDesktop {
          & {
            margin-top: 5rem;
            font-size: 4rem;
          }
        }
      }
    }

    //----------SWIPER SLIDER STYLING--------------

    .swiper-container {
      width: 85%;
      max-width: 120rem;
      height: 25rem;
      margin: 4rem auto 0;
      overflow: hidden;
      position: relative;

      //------------MEDIA QUERIES----------------

      @include phonePortrait {
        & {
          width: 60%;
        }
      }

      @include tabletPortrait {
        & {
          height: 35rem;
        }
      }

      @include tabletLandscape {
        & {
          width: 75%;
        }
      }

      @include desktop {
        & {
          height: 40rem;
        }
      }

      @include largeDesktop {
        & {
          height: 50rem;
        }
      }

      @include largeDesktopUltra {
        & {
          height: 55rem;
        }
      }

      //------------------------

      .swiper-wrapper {
        @include keep-it-hundo;

        .swiper-slide {
          width: 100%;
          background-color: $color-gold;
          position: relative;

          //------------MEDIA QUERIES----------------

          @include tabletLandscape {
            & {
              background-color: transparent;
            }
          }

          img {
            width: 80%;
            height: 80%;
            object-fit: contain;
            @include absol-center;

            //------------MEDIA QUERIES----------------

            @include tabletLandscape {
              & {
                width: 20rem;
                height: 20rem;
                padding: 3rem;
                background-color: $color-gold;
              }
            }

            @include desktop {
              & {
                width: 25rem;
                height: 25rem;
                padding: 2rem 1rem;
              }
            }
          }
        }
      }

      .swiper-button-prev {
        width: 4rem;
        height: 4rem;
        color: $color-lite;
        top: 55%;
        left: 5%;

        @include tabletPortrait {
          & {
            top: 58%;
          }
        }

        @include desktop {
          & {
            top: 50%;
            left: 1%;
          }
        }

        &::after {
          content: "";
          @include keep-it-hundo;
          @include absol-center;
          background-image: url(../images/prev.png);
          background-size: contain;
          background-position: center;
          z-index: 1;
        }
      }

      .swiper-button-next {
        width: 4rem;
        height: 4rem;
        color: $color-lite;
        top: 55%;
        right: 5%;

        @include tabletPortrait {
          & {
            top: 58%;
          }
        }

        @include desktop {
          & {
            top: 50%;
            right: 1%;
          }
        }

        &::after {
          content: "";
          @include keep-it-hundo;
          @include absol-center;
          background-image: url(../images/next.png);
          background-size: contain;
          background-position: center;
          z-index: 1;
        }
      }

      .swiper-pagination-bullet {
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.7;
        border: 1px solid $color-gold;
      }

      .swiper-pagination-bullet-active {
        background: $color-lite;
        border: none;
      }
    }
  }

  //----------------SECTION 2 / GALLERY----------------

  .gallery {
    width: 100%;
    height: auto;
    background-image: url(../images/camera.png);
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: center;

    //------------MEDIA QUERIES----------------

    @include phoneLandscape {
      & {
        background-size: 75% auto;
      }
    }

    @include tabletLandscape {
      & {
        background-size: 65% auto;
      }
    }

    @include largeDesktop {
      & {
        background-size: 55% auto;
        background-position: top;
      }
    }

    @include largeDesktop2 {
      & {
        background-size: 45%;
      }
    }

    @include largeDesktopUltra {
      & {
        background-size: 35%;
      }
    }

    //------------------------

    .img-container {
      width: 100%;
      height: auto;

      //------------MEDIA QUERIES----------------

      @include tabletPortrait {
        & {
          margin-top: 4rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }

      @include desktop {
        & {
          margin: 7rem auto;
        }
      }

      @include largeDesktop {
        & {
          padding: 6rem 4rem;
        }
      }

      @include largeDesktop2 {
        & {
          padding: 6rem 25rem;
        }
      }

      @include largeDesktopUltra {
        & {
          padding: 6rem 65rem;
        }
      }

      //------------------------

      .imgs {
        width: 27rem;
        height: 27rem;
        margin: 1rem auto;
        overflow: hidden;

        //------------MEDIA QUERIES----------------

        @include phonePortrait {
          & {
            width: 30rem;
            height: 30rem;
          }
        }

        @include tabletPortrait {
          & {
            margin: 2rem;
          }
        }

        @include tabletLandscape {
          & {
            width: 20rem;
            height: 20rem;
          }
        }

        @include desktop {
          & {
            width: 25rem;
            height: 25rem;
          }
        }

        @include largeDesktop {
          & {
            width: 35rem;
            height: 35rem;
          }
        }

        @include largeDesktop2 {
          & {
            width: 40rem;
            height: 40rem;
          }
        }

        //------------------------

        img {
          @include keep-it-hundo;
          object-fit: cover;
          cursor: pointer;
          @include transit3;

          &:hover {
            transform: scale(2) translateY(25%);
            -webkit-transform: scale(2) translateY(25%);
            -moz-transform: scale(2) translateY(25%);
            -ms-transform: scale(2) translateY(25%);
            -o-transform: scale(2) translateY(25%);
          }
        }
      }
    }
  }

  //----------------SECTION 3 / CONTACT----------------

  .contact {
    width: 100%;
    height: 55rem;
    background-image: url(../images/email.png);
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: center;

    //------------MEDIA QUERIES----------------

    @include phoneLandscape {
      & {
        background-size: 80% auto;
      }
    }

    @include tabletPortrait {
      & {
        height: 65rem;
        background-size: 70%;
      }
    }

    @include tabletLandscape {
      & {
        background-size: 55% auto;
      }
    }

    @include desktop {
      & {
        height: 70rem;
        background-size: 40%;
      }
    }

    @include largeDesktop {
      & {
        height: 85rem;
        background-size: 35%;
      }
    }

    @include largeDesktop2 {
      & {
        height: 95rem;
        background-size: 25%;
      }
    }

    @include largeDesktopUltra {
      & {
        height: 100rem;
        background-size: 20%;
      }
    }

    //------------------------

    .info-container {
      width: 100%;
      max-width: 120rem;
      height: 35rem;
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      //------------MEDIA QUERIES----------------

      @include tabletPortrait {
        & {
          height: 45rem;
        }
      }

      @include desktop {
        & {
          padding: 7rem;
        }
      }

      @include largeDesktop {
        & {
          height: 50rem;
        }
      }

      @include largeDesktop2 {
        & {
          height: 55rem;
        }
      }

      //------------------------

      .info {
        width: 100%;
        height: 50%;
        font-size: 2rem;
        text-transform: capitalize;
        @include flex-center;
        @include text-shadow;

        //------------MEDIA QUERIES----------------

        @include phonePortrait {
          & {
            font-size: 2.2rem;
            padding: 2.5rem;
          }
        }

        @include tabletPortrait {
          & {
            font-size: 3rem;
          }
        }

        @include largeDesktop {
          & {
            font-size: 4rem;
          }
        }
      }

      //------------------------

      .info-btn-box {
        width: 100%;
        height: 6rem;
        @include flex-center;

        .info-btn {
          text-decoration: none;
          font-size: 3rem;
          color: $color-dark;
          background-color: $color-gold;
          font-family: $tertiary-font;
          padding: 1rem 2rem;
          @include transit2;

          &:hover {
            transform: translateY(8%);
            -webkit-transform: translateY(8%);
            -moz-transform: translateY(8%);
            -ms-transform: translateY(8%);
            -o-transform: translateY(8%);

            //------------MEDIA QUERIES----------------
          }

          @include largeDesktop {
            & {
              font-size: 4rem;
            }
          }
        }
      }
    }
  }

  //----------------SECTION 4 / LOCATION----------------

  .location {
    width: 100%;
    height: 50rem;
    background-image: url(../images/gps.png);
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;

    //------------MEDIA QUERIES----------------

    @include phoneLandscape {
      & {
        background-size: 45% auto;
      }
    }

    @include tabletPortrait {
      & {
        height: 65rem;
        background-size: 40% auto;
      }
    }

    @include tabletLandscape {
      & {
        height: 70rem;
        background-size: 35% auto;
      }
    }

    @include desktop {
      & {
        height: 80rem;
        background-size: 20%;
      }
    }

    @include largeDesktop {
      & {
        height: 100rem;
        background-size: 20%;
      }
    }

    @include largeDesktop2 {
      & {
        background-size: 15%;
      }
    }

    @include largeDesktopUltra {
      & {
        background-size: 10%;
      }
    }

    //------------------------

    .locate-container {
      width: 100%;
      max-width: 120rem;
      height: calc(100% - 9rem);
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      //------------------------

      .locate {
        width: 80%;
        height: 50%;
        margin: 0 auto;
        font-size: 2rem;
        text-transform: capitalize;
        @include flex-center;
        @include text-shadow;

        //------------MEDIA QUERIES----------------

        @include phoneLandscape {
          & {
            padding: 2.5rem;
          }
        }

        @include tabletPortrait {
          & {
            font-size: 3rem;
          }
        }

        @include largeDesktop {
          & {
            font-size: 4rem;
          }
        }
      }

      //------------------------

      .locate-img {
        width: 100%;
        height: 15rem;
        border: 0.2rem dotted $color-gold;
        overflow: hidden;
        cursor: pointer;

        //------------MEDIA QUERIES----------------

        @include phoneLandscape {
          & {
            width: 90%;
            margin: 0 auto;
          }
        }

        @include tabletPortrait {
          & {
            height: 20rem;
          }
        }

        @include desktop {
          & {
            width: 75%;
            height: 22rem;
          }
        }

        @include largeDesktop {
          & {
            height: 27rem;
          }
        }

        @include largeDesktop2 {
          & {
            height: 30rem;
          }
        }

        //------------------------

        img {
          @include keep-it-hundo;
          object-fit: cover;
          @include transit3;

          &:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
          }
        }
      }
    }
  }
}

//----------------HR STYLING----------------

hr {
  width: 80%;
  height: 0.2rem;
  margin: 2rem auto 4rem;
  background-color: $color-gold;
  border: 0.1rem solid $color-gold;

  //------------MEDIA QUERIES----------------

  @include phonePortrait {
    & {
      margin: 3rem auto 4rem;
    }
  }

  @include desktop {
    & {
      margin: 4rem auto 5rem;
    }
  }

  @include largeDesktop {
    & {
      margin: 7rem auto 6rem;
    }
  }
}

/*=========================================================
--------------------------FOOTER---------------------------
=========================================================*/

footer {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  @include flex-center;
  font-size: 1.5rem;
  font-family: $secondary-font;

  //------------MEDIA QUERIES----------------

  @include tabletPortrait {
    & {
      font-size: 2rem;
    }
  }

  @include desktop {
    & {
      font-size: 2.2rem;
    }
  }

  @include largeDesktop {
    & {
      margin: 0 auto 4rem;
      font-size: 3rem;
    }
  }
}
